<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul-->

<div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="panel panel-primary">
      <div class="panel-heading">
          Music Equaliser
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-2">
                        <div style="width:100px"><span style="float:right">+12TB</span></div>
                        <div style="padding-top:140px;width:100px"><span style="float:right">0</span></div>
                        <div style="padding-top:150px;width:100px"><span style="float:right">-12TB</span></div>
                    </div>
                    <div class="col-md-2">
                      <div>
                          <div style="float:left">
                            <input type="range" min="1" max="100" [(ngModel)]="first" class="sliderStyle"/>
                          </div>
                          <div style="clear:left; width:70px;text-align:center"><label style="vertical-align:middle">60</label></div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div>
                          <div style="float:left">
                            <input type="range" min="1" max="100" [(ngModel)]="second" class="sliderStyle" />
                          </div>
                          <div style="clear:left;width:70px;text-align:center"><label style="vertical-align:middle">310</label></div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div>
                          <div style="float:left">
                            <input type="range" min="1" max="100" [(ngModel)]="third" class="sliderStyle" />
                          </div>
                          <div style="clear:left;width:70px;text-align:center"><label style="vertical-align:middle">1k</label></div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div>
                          <div style="float:left">
                            <input type="range" min="1" max="100" [(ngModel)]="fourth" class="sliderStyle" />
                          </div>
                          <div style="clear:left;width:70px;text-align:center"><label style="vertical-align:middle">6k</label></div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div>
                          <div style="float:left">
                            <input type="range" min="1" max="100" [(ngModel)]="fifth" class="sliderStyle" />
                          </div>
                          <div style="clear:left;width:70px;text-align:center"><label style="vertical-align:middle">16k</label></div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <button (click)="setShowMenu()" class="btn btn-primary">Preset</button>
                  <div class="dropDownStyle">
                      <select class="form-control"  *ngIf="showMenu" [(ngModel)]="selectedBand" (change)="setBands()" style="font-family: Arial, sans-serif;
                      font-size: 15px;
                      font-style: italic;height:30px;width:150px;">
                          <option [ngValue]="selectedBand" default selected>Choose here</option>
                          <option *ngFor="let obj of musicBands" style="font-size:18px" [ngValue]="obj">{{obj}}</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="col-md-2"></div>
</div>